<div class="main-area center-text" style="background-image:url(images/countdown-6-1600x900.jpg);" >

		<div class="display-table">
			<div class="display-table-cell">

				<h1 class="title"><b>Comming Soon</b></h1>
				<p class="desc font-white">Notre site est en construction.</p>
        <p class="desc font-white"> Ouverture le 17 septembre 2018 .</p>


				<div id="normal-countdown" data-date="2018/01/01"></div>



			</div><!-- display-table -->
		</div><!-- display-table-cell -->
	</div><!-- main-area -->
